/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';

.m3{
  margin: 3%;
}

.p20{
  padding: 20px;
}

.top20{
  top: 20%;
}

.fs25{
  font-size: 25px;
}

body {
  background-color: #a3d8f5 !important;
}
